<!DOCTYPE html>
<html>
  <head>
    <title>CIS 555 Project</title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/css/main.css"/>
    <link rel="stylesheet" href="/public/css/spinner.css"/>
  </head>
  <body>
    <!-- Initial display (search bar alone) -->
    <div id="search-alone-wrapper" style="display:none;">
      <div class="container">
        <div class="row main-logo">
        <div class="col-sm-12">
          <img src="/public/images/SearchEngineImplWide.png" class="img-responsive center-block">
        </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="input-group custom-search-form">
              <input id="search-alone-input" type="text" class="form-control">
              <span class="input-group-btn">
              <button class="btn btn-default search-button" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
              <button class="btn btn-default dictation-button" type="button">
                <span class="glyphicon glyphicon-comment"></span>
              </button>
             </span>
             </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Display with results -->
    <div id="after-ajax-start" style="display: none;">
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand navbar-right" rel="home" href="">
        <img class="navbar-logo" src="/public/images/SearchEngineImpl.png">
        </a>
        <div id="navbar-search-wrapper">
            <div class="navbar-form navbar-search">
              <div class="form-group" style="display:inline;">
                <div class="input-group" style="display:table;">
                  <input id="navbar-search-input" class="form-control" placeholder="Search Here" type="text">
                  <span class="input-group-btn" style="width:1%;">
                    <button class="btn btn-default search-button" type="button">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                   <button class="btn btn-default dictation-button" type="button">
                     <span class="glyphicon glyphicon-comment"></span>
                   </button>
                  </span>
                </div>
              </div>
            </div>
        </div>
      </nav>
      <div class="container">
        <div id="spinner" class="loader">Loading...</div>
        <div class="row" id="column-container">
           <div id="results" class="col-sm-5"style="display:none;"></div>
           <div class="col-sm-7">
            <iframe id="preview" src="/sneaky.html"></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- templates -->
    <template id="results-template">
      {{#each bing_search_results}}
        {{> bingResult}}
      {{/each}}
      {{#each results}}
        {{> result}}
      {{/each}}
    </template>
    <template id="result-template">
      <div class="row search-result">
        <div class="col-sm-12">
          <div class="title"><a href="{{Url}}">{{Title}}</a><span style="display:none;" class="glyphicon glyphicon-eye-open preview-button pull-right"></div>
          <div class="url">{{Url}}</div>
          <div class="page-text text-muted">{{Description}}</div>
        </div>
      </div>
    </template>
    <template id="bing-result-template">
      <div class="row search-result outside-search-result">
        <div class="col-sm-12">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Bing result<span style="display:none;" class="glyphicon glyphicon-eye-open preview-button bing-preview-button pull-right"></span></h3>
            </div>
            <div class="panel-body">
              <div class="title"><a href="{{Url}}">{{Title}}</a></div>
                <div class="url">{{DisplayUrl}}</div>
                <div class="page-text text-muted">{{Description}}</div>
              </div>
          </div>
        </div>
      </div>
    </template>
    <template id="spell-check-template">
      <div class="col-sm-12 spelling-suggestion">
        <div class="row">
          <div class="col-sm-12">
            <h3><i class="smaller">Did you mean </i><a href="#{{suggested_spelling}}">{{suggested_spelling}}</a><span class="smaller"> ?</span></h3>
          </div>
        </div>
      </div>
    </template>
    <script src="/public/js/lib/jquery-2.1.3.min.js"></script>
    <scripts src="/public/bootstrap/js/bootstrap.min.js"></scripts>
    <script src="/public/js/lib/lodash.min.js"></script>
    <script src="/public/js/lib/backbone.min.js"></script>
    <script src="/public/js/lib/backbone-force-refresh.js"></script>
    <script src="/public/js/lib/handlebars-v3.0.1.js"></script>
    <script src="/public/js/main.js"></script>
  </body>
</html>
