#search-alone-wrapper {
  min-height: 75%;
  min-height: 75vh;

  display: flex;
  align-items: center;
}

.custom-search-form input[type="text"] {
  font-size: 2rem;
}

.main-logo {
  margin-bottom: 10px;
}

.navbar-logo {
  max-height: 50px;
  margin-top: -15px;
  margin-right: 15px;
}

.navbar-search {
  width: 500px;
  margin-left: 130px;
}

*:focus {
-moz-outline:0 none;
outline:0 none;
}

a {
  color: #3498db;
}

.text-info {
  color: #00bc8c !important;
}

.search-result {
  margin-bottom: 30px;
}

.search-result .panel {
  margin-bottom: 0px;
}

.search-result .title {
  font-size: 1.3em;
}

.search-result .url {
  font-size: .93em;
  color: #3A954A !important;
}

.search-result .page-text {
  font-size: 1.05em;
}

.pagination > li > a {
  background-color: #375a7f;
  color: #ffffff;
}
.pagination>li>a:hover {
  background-color: #28415b;
}

#preview {
  position: fixed;
  width: 50%;
  height: 87%;
  border: 0;
}

.spelling-suggestion h3, .spelling-suggestion h3 a {
  color: #E952D1;
}

.spelling-suggestion .smaller {
  font-size: 0.9em;
}

.spelling-suggestion h3 a {
  font-weight: bolder;
}

.preview-button, .bing-preview-button {
  cursor: pointer;
}
